body {
  background-color: rgb(185, 253, 253);
  width: 95%;
}
main {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
}
/* Bloque izquierdo del hero */
.left {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  padding: 2px;
  width: 40%;
}
.left > .title {
  font-size: 12px;
}
.left > .maintext {
  font-size: 30px;
  font-weight: bolder;
}
.buttons1 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}
/* bloque derecho del hero */
.right {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  width: 70%;
  align-items: center;
  padding-bottom: 30px;
  padding: 8%;
  justify-content: space-evenly;
  gap: 20px;
}
.right > .navegacion > .mainav {
  display: flex;
  gap: 10px;
  flex-direction: row;
  list-style-type: none;
  height: 30px;
  width: 70%;
  flex-grow: 1;
  align-items: center;
}
.right > img {
  /* imagen oficina */
  width: 80%;
}
.right > .navegacion > .anavegacion > .menu {
  /* border: 1px solid rgb(238, 9, 9); */
  display: none;
}

.sections {
  margin: 20px;
}
.sections > .firstsection {
  display: flex;
  flex-direction: column;
}
.sections > .firstsection > .faq {
  display: flex;
  gap: 20px;
}
.sections > .secondsection {
  margin-top: 40px;
}
.sections > .secondsection > .buttons2 {
  display: flex;
  gap: 20px;
}
@media (max-width: 395px) {
  .right > .navegacion > .mainav {
    display: none;
  }
  .right > .navegacion > .anavegacion > .menu {
    display: block;
    width: 70px;
    height: 70px;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
}
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footernav {
  display: flex;
  justify-content: space-around;
}
